/* CHARACTERISTICS ITEMS */
.characteristics-item {
    display: grid;
    grid-area: characteristics-items;
    padding-top: 5rem;
  }
  
  .item {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  
  .characteristics-item-image {
    justify-self: center;
    width: 60%;
  }
  
  .characteristics-item-image h2 {
    padding-top: 5rem;
    padding-right: 4.5rem;
    text-align: right;
    color: var(--secondary-color)
  }
  
  .characteristics-item-text {
    display: grid;
    grid-template-columns: 100%;
    max-height: 17rem;
    margin-left: 5rem;
    justify-self: center;
    align-self: center;
    margin-right: 5rem;
  }
  
  .characteristics-item-text h2 {
    text-align: left;
  }
  
  .characteristics-item-text p {
    padding-top: .5rem;
  }

  @media (max-width: 1450px) {
     /* CHARACTERISTICS ITEMS */
    .characteristics-item {
      padding-top: 1rem;
    }
  
    .item {
      padding-top: 1rem;
    }
  }
  
  @media (max-width: 1280px) {
     /* CHARACTERISTICS ITEMS */
    .characteristics-item {
      padding-top: 1rem;
    }
  
    .item {
      padding-top: 1rem;
    }
  
    .characteristics-item-text {
      max-height: 20rem;
     }
  }
  
  @media (max-width: 900px) {
     /* CHARACTERISTICS ITEMS */
    .characteristics-item {
      padding-top: 1rem;
    }
  
    .item {
      padding-top: 1rem;
    }
    
    .characteristics-item-image {
      width: 70%;
    }
    
    .characteristics-item-text {
      max-height: 17rem;
      margin: 0;
      
      
    }
    
    .characteristics-item-text h2 {
      font-size: 2rem;
      text-align: center;
    }
  
    .characteristics-item-text p {
      font-size: .8rem;
     }
  }
  
  @media (max-width: 800px) {
     /* CHARACTERISTICS ITEMS */
    .characteristics-item {
      padding-top: 1rem;
    }
  
    .item {
      padding-top: 1rem;
    }
    
    .characteristics-item-image {
      width: 70%;
    }
    
    .characteristics-item-text {
      max-height: 17rem;
      margin: 0;
      
    }
    
    .characteristics-item-text h2 {
      font-size: 2rem;
      text-align: center;
    }
  
    .characteristics-item-text p {
      font-size: .8rem;
     }
  }
  
  @media (max-width: 540px) {
     /* CHARACTERISTICS ITEMS */
     .characteristics-item {
      padding-top: 10rem;
    }
  
    .item {
      padding-top: 1rem;
      grid-template-columns: 100%;
    }
    
    .characteristics-item-image {
      width: 50%;
    }
    
    .characteristics-item-image h2 {
      padding-top: 5rem;
    }
    
    .characteristics-item-text {
      max-height: 17rem;
      margin: 0;
    }
    
    .characteristics-item-text h2 {
      text-align: center;
    }
  }
  